<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEIrsaliyeClientInterfaceService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://efaturatest.innova.com.tr/EIrsaliyeClientInterfaceService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEIrsaliyeClientInterfaceService"
                contract="EIrsaliye.IEIrsaliyeClientInterfaceService" name="BasicHttpBinding_IEIrsaliyeClientInterfaceService" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="InstitutionId" value="1000" />
    <add key="Username" value="KULLANICIADINIZ" />
    <add key="Password" value="PORTALSIFRENIZ" />
  </appSettings>
</configuration>